<main>
    <div class="hotels-banner">
        <p class="text-7xl">CHECK IN. THEN, ATTEND</p>
    </div>

    <div class="px-[150px]">
        <div class="my-[70px]">
            <p class="text-lg font-bold">
                There are several Hotels in and within Ijebu-ode, located just minutes from us. You can experience all the fun and stay close to the event
            </p>

            <div class="flex flex-col mt-10">
                <div class="flex flex-col gap-5">
                    <p class="text-4xl font-bold">ABOUT ALFRED SUSAN EVENT CENTRE</p>
                    <div>
                        <p class="">Located in the heart of Ijebu-ode, We are steps away from a number of hotels, rooms, top resturants, supermarkets and bars.</p>
                        <p class="">Book your events, gather friends and family, and get ready for a thrilling experience and world class service.</p>
                    </div>
                    <p>Check out our top recommended hotels</p>
                </div>
            </div>
            <div *ngFor="let hotel of hotelList; let i = index; let odd = odd; let even = even" class="my-20">
                <div class="flex items-center gap-10 font-bold" [ngClass]="{odd: odd}">
                    <img class="w-[250px] h-[250px]" src="{{hotel.image}}">
                    <div class="flex flex-col gap-5">
                        <p class="text-4xl">{{hotel.name | uppercase }}</p>
                        <p>{{hotel.address}}</p>
                        <a href="{{hotel.href}}" target="_blank">
                            <p class="py-5 border-b-8 text-[#3F00FF] border-[#3F00FF] border-solid w-max">CHECK OUT</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>