<main class="w-full">
    <div class="px-5 flex items-center gap-2 bg-black w-full h-[40px]">
        <a href="https://web.facebook.com/alfredsusan57" target="_blank"><img width="25" alt="facebook image" src="/assets/images/facebook.svg"></a>
        <a href="https://www.instagram.com/alfredsusaneventcenter_/" target="_blank"><img width="25" alt="instagram image" src="/assets/images/instagram.svg"></a>
    </div>
    <nav id="navbar" class="z-[999] flex items-center justify-between bg-[#ffffff] w-full h-[85px] px-5 md:p-0" (scroll)="onScroll()" [ngClass]="navbarFixed? 'fixed': 'notfixed'">
        <img class=" w-[140px] lg:w-[170px] xl:w-[200px] ml-5" src="/assets/logo/logo-no-background.svg">
        <div id="navbar" class="flex h-full text-center hidden md:flex gap-5 lg:gap-10 list-none font-bold  md:text-sm lg:text-md xl:text-xl nav-links">
            <li *ngFor="let link of navLinks" [routerLink]="[link.link]" routerLinkActive="active-nav-link">{{link.title}}</li>
            <button class="block lg:hidden lg:block flex items-center rounded-none bg-[#3F00FF] text-md text-white font-bold h-full p-2">
                BOOK EVENT
            </button>
        </div>
        <button class="hidden lg:block flex items-center rounded-none bg-[#3F00FF] text-2xl text-white font-bold h-full p-5">
            BOOK EVENT
        </button>
        <input type="checkbox" id="ham-menu">
        <label for="ham-menu" class="md:hidden" (click)="onNavClick()">
                <div class="hide-des">
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                </div>
            </label>

    </nav>
</main>