<main>
    <div class="contact-banner h-[350px] lg:h-[450px]">
        <p class="text-5xl lg:text-6xl 2xl:text-7xl animated fadeInDown my-5">REACH OUT BEFORE SHOWING UP</p>
    </div>

    <div class="px-[30px] xl:px-[150px] container m-auto">
        <div class="flex flex-col gap-5 font-bold my-[70px]">
            <p class="text-4xl">HAVE QUESTIONS?</p>
            <p class="text-lg">
                If you have questions about the event centre and availability, contact us by filling out the contact form below and we'll get back to you as soon as possible.
            </p>
            <p>Don't like forms? You can reach us through the following:</p>
            <p>Phone: <a href="tel:+2348033095758"><span class="text-[#3F00FF]">08033095758</span></a></p>
            <p>Email: <a href="mailto:olajidebanjo@yahoo.com"><span class="text-[#3F00FF]">olajidebanjo@yahoo.com</span></a></p>
        </div>

        <form class=" flex flex-col gap-5 my-10">
            <div class="form-control w-[100%]">
                <label>Name*</label>
                <input type="text" class="bg-[#E5E4E2]">
            </div>
            <div class="form-control w-[100%]">
                <label>Email*</label>
                <input type="email" class="bg-[#E5E4E2]">
            </div>
            <div class="form-control w-[100%]">
                <label>Number*</label>
                <input type="tel" class="bg-[#E5E4E2]">
            </div>
            <div class="form-control w-[100%]">
                <label>Subject</label>
                <input type="text" class="bg-[#E5E4E2]">
            </div>
            <div class="form-control w-[100%]">
                <label>Message*</label>
                <textarea class="bg-[#E5E4E2]"></textarea>
            </div>

            <button class="bg-[#3F00FF] p-2 text-white w-[100%]">Submit</button>
        </form>

        <div class="flex flex-col gap-5 my-20">
            <p class="text-4xl font-bold">ABOUT ALFRED SUSAN EVENT CENTRE</p>
            <div>
                <p class="">Located in the heart of Ijebu-ode, We are steps away from a number of hotels, rooms, top resturants, supermarkets and bars.</p>
                <p class="">Book your events, gather friends and family, and get ready for a thrilling experience and world class service.</p>
            </div>
            <iframe class="w-[100%] h-[500px]  md:h-[800px]" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.4065408932343!2d3.9265445155145144!3d6.841768021277822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10396f4f6fd30373%3A0x4df922dd7767cb1e!2sAlfred%20Susan%20Event%20Center!5e0!3m2!1sen!2sng!4v1678219963975!5m2!1sen!2sng"
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</main>