<main>
    <div class="home-banner h-[350px] lg:h-[450px]">
        <p class="text-7xl">WELCOME TO ASEC</p>
    </div>
    <div class="px-[30px] xl:px-[150px]">
        <div class="font-bold my-[70px]">
            <p class="text-lg">
                Alfred Susan Event centre (ASEC) is located in the eastern part of Ogun state in a city called Ijebu-ode. It is only 110km by road north-east of Lagos. It is home to some of the biggest and best events and festivals in Ijebu. Our large indoor capacity
                and parking space makes it suitable for corporate events, special events and festivals. You also have resturants, bars and hotels just steps away. Want to make your next event fun and memorable? <a class="text-[#3F00FF]">Click here</a>                to contact us about your next event!
            </p>
        </div>

        <div class="flex gap-3 items-center justify-between">
            <div>
                <p class="text-4xl lg:text-5xl 2xl:text-7xl py-5 font-bold border-b-8 border-[#3F00FF] border-solid w-fit">VENUE INFO: </p>
                <div class="flex gap-5 flex-col my-10">
                    <p class="text-2xl font-bold">Venue Size:</p>
                    <p>80,000 square feet with a capacity to host up to 500 people.</p>
                </div>

                <div class="flex gap-5 flex-col my-10">
                    <p class="text-2xl font-bold">Parking Size:</p>
                    <p>120,000 square feet with a capacity to hold up to 100 cars.</p>
                </div>

                <div class="flex gap-5 flex-col my-10">
                    <p class="text-2xl font-bold">Food Services:</p>
                    <p>If you dream of tasty meals and cocktails, we can certainly make that happens.</p>
                </div>

                <div class="flex gap-5 flex-col my-10">
                    <p class="text-2xl font-bold">Ventilation:</p>
                    <p>With up to 12 AC units, be sure of a cool and well ventilated event.</p>
                </div>

                <div class="flex gap-5 flex-col my-10">
                    <p class="text-2xl font-bold">Power:</p>
                    <p>We have two 20kv generator which can handle any event and run for hours. Enjoy uninterrupted power supply.</p>
                </div>
            </div>
            <img class="hidden md:block w-[700px] h-[350px] xl:w-[950px] xl:h-[450px]" alt="event images" src="https://scontent.flos5-2.fna.fbcdn.net/v/t1.6435-9/62269031_436695613786710_3956544510393057280_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFNWlxk3j5cRZLeRRdY6pIeA918otHtabAD3Xyi0e1psA6pdmBjKU5uh5fGuxz19PR7oJ219Kq0xIa87LPNcGBY&_nc_ohc=LuJ5lzSjahMAX_Eha-6&_nc_ht=scontent.flos5-2.fna&oh=00_AfCZ5zbWqP8e87aj8ixmG4x2b9UMaSZMRXDB2x5Af4V-0Q&oe=642EE3B9">
        </div>
    </div>
    <div class="did-yk-div items-center text-center justify-center my-10 text-white">
        <p class="text-6xl">Did you <span>know</span>?</p>
        <p class="text-xl">ASEC stands for Alfred Susan Event Center.</p>
        <p class="text-xl">It is named after the CEO's parents.</p>
    </div>

    <div class="px-[30px] xl:px-[150px] my-10 flex gap-3 items-center justify-between">
        <div>
            <p class="text-4xl lg:text-5xl 2xl:text-7xl py-5 font-bold border-b-8 border-[#3F00FF] border-solid w-fit">WHAT WE HOST: </p>
            <ul class="flex flex-col gap-5 list-disc px-5 my-10">
                <li>Weddings</li>
                <li>Corporate Events</li>
                <li>Private Parties</li>
                <li>Product launches and demos</li>
                <li>Festivals</li>
                <li>Birthday Parties</li>
                <li>Concerts</li>
                <li>Any type of shows</li>
            </ul>
        </div>
        <div class="hidden md:grid grid grid-cols-2 gap-5">
            <img class="w-[300px] h-[200px]" alt="event images" src="https://scontent.flos5-1.fna.fbcdn.net/v/t1.6435-9/164141829_884818112307789_2728911552052418471_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFgnC1kS3XFeFDnwjO6IIrFfxErXjC0Efd_ESteMLQR909FJ2MVFSO-v0s8FsM7dV5L_uNrOdV3s8qwlhyiMwav&_nc_ohc=TmSemN7PXTIAX-4KU60&_nc_ht=scontent.flos5-1.fna&oh=00_AfC91ZyIuBjuT6YvTakj6K2l4Xl0jSBGg0r77skxNjHD6A&oe=642F04FC">
            <img class="w-[300px] h-[200px]" alt="event images" src="https://scontent.flos5-2.fna.fbcdn.net/v/t1.6435-9/168879379_747364075927647_8746626686419349057_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeEI2ZLYzH4OeGf5zplq-wFCaLasmYzzvthotqyZjPO-2GkBqDz4IEsEkaDFRiHnz-J5PIoFIAoTKDr966iEYMzx&_nc_ohc=RofsFbK_DNEAX-Hub4x&_nc_ht=scontent.flos5-2.fna&oh=00_AfCxZP-9sUfoWhXD2B6aUcenmqU_mOMHquBWIKpVG6ur_Q&oe=642F16C7">
            <img class="w-[300px] h-[200px]" alt="event images" src="https://scontent.flos5-2.fna.fbcdn.net/v/t39.30808-6/327916842_1602449763536475_6846816022626467886_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeEGxNtjsz4kAz10Ni0YZ6rBJdNoEEgtzb4l02gQSC3NvlnGzZSts_nCblCKkkCokbuxKvRTsP43Wz9po6maacU0&_nc_ohc=mim1YsVOlcwAX_QHUzQ&_nc_zt=23&_nc_ht=scontent.flos5-2.fna&oh=00_AfBKCtC1_VxpzL7OOf_cTm9zySiP6GTzoAxv60PFNpE1Yw&oe=640C80D2">
            <img class="w-[300px] h-[200px]" alt="event images" src="https://scontent.flos5-2.fna.fbcdn.net/v/t1.6435-9/169452059_746815629315825_1584035651077245896_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeEg2nwwlc2kiyz_z-nIg84YtoGdOYUGOD62gZ05hQY4PvxNjupG4qEoqNvbgkGxDcke7BuMFwgfVkZegZ0tmPzo&_nc_ohc=cnpFBBZRQYAAX9EbMpm&_nc_ht=scontent.flos5-2.fna&oh=00_AfB5N8j4CkHTPTZHxnG_x1D2Yh8FFK4HjQisHN8wOa9Tag&oe=642F1856">
        </div>
    </div>

    <div class="location-div items-center justify-center my-10 text-white">
        <p class="text-6xl">Our location</p>
        <p class="text-xl">Opposite Kapital Hotel Ijebu Ode</p>
        <p>Ijebu Ode</p>
        <p>Ogun State</p>

    </div>

    <div class="flex flex-col my-20 w-full items-center">
        <form class="flex flex-col gap-10 sm:items-center p-20 rounded-2xl w-[800px] form-div w-full lg:w-[80%]">
            <p class="text-6xl font-bold">INQUIRY FORM</p>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
                <div class="form-control">
                    <label>First Name</label>
                    <input type="text">
                </div>
                <div class="form-control">
                    <label>Last Name</label>
                    <input type="text">
                </div>
                <div class="form-control">
                    <label>Phone Number</label>
                    <input type="tel">
                </div>
                <div class="form-control">
                    <label>Email</label>
                    <input type="email">
                </div>
                <div class="form-control col-span-full">
                    <label>Tell us about your Event</label>
                    <textarea></textarea>
                </div>
                <button class="rounded-xl bg-[white] w-full col-span-full text-black p-4 font-bold">
                    Submit
                </button>
            </div>
        </form>
    </div>

    <div class="my-10 flex flex-col gap-10 items-center">
        <p class="self-center text-7xl py-5 font-bold border-b-8 border-[#3F00FF] border-solid w-fit">FIND US</p>
        <iframe class="w-[90%] h-[500px] md:w-[80%] md:h-[800px]" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.4065408932343!2d3.9265445155145144!3d6.841768021277822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10396f4f6fd30373%3A0x4df922dd7767cb1e!2sAlfred%20Susan%20Event%20Center!5e0!3m2!1sen!2sng!4v1678219963975!5m2!1sen!2sng"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</main>